body,html{
    height: 100%;
    margin:0px;
    font-size: 10px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 8cm;
}

section{
    min-height: 100%;
    background-color: greenyellow;
}

/*========= [header portion]================*/
.header{
    line-height:12%;
    padding: 30px;
    background-image: url("image/wood.jpeg");
    text-align: center;
}
.header h1{
    font-size: 50px;
    font-style: italic, bold;
    color: rgb(252, 121, 14);
    text-shadow: 0 0 4px #FFF;
}

/*===========[Google Search Bar]=========*/
input[type=search]{  
    border: 5px  orange;  
    box-sizing: border-box;  
    font-size:1em;  
    height: 2em;  
    margin-left: 10vw;  
    float: right;
    padding: .5em;  
    transition: all 2s ease-in;  
    width: 20vw;  
    z-index:1;  
    &:focus {  
        border: solid 3px #09f;        
        outline: solid #fc0 2000px;  
    }
}
          
/*===============[Nav CSS]==========*/
.nav{
    background-color:#000102b7;
    padding: 1px;
    line-height: 8%;
}
.nav li{
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav a{
    color: #fff;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #7fffd4;
}

/*=============[left side]==============*/
.lside{
    float: left;
    width: 80%;
    text-align: center;
    line-height: 435px;
    background-image: url("image/wood.jpeg");
}

/*============[right side]===============*/
.rside
{
text-align: center;
float: right;
width: 20%;
background-image: url("image/wood.jpeg");
line-height: 435px;
}

/*============[blog]===================*/
.blog{
    background-color: pink;
    text-align: center; 
    padding-top: 10px;
    min-height: 100%;
}

/*============[portfolio]===================*/
.portfolio{
    background-color: red;
    text-align: center; 
    padding-top: 10px;
    min-height: 100%;
}

/*============[contact]===================*/
.contact{
    background-color: blue;
    text-align: center; 
    padding-top: 10px;
    min-height: 100%;
}

/*============[footer]===================*/
.footer{
    background-image: url("image/plane2.jpeg");
    text-align: center; 
    padding-top: 10px;
    min-height: 100%;
}
.footer p{
    color:   #f3e306;
}  