body,html{
    height: 100%;
    margin:0px;
    font-size: 10px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 8cm;
}

section{
    min-height: 100%;
    background-color: greenyellow;
}

/*========= [header portion]================*/
.header{
    line-height:12%;
    padding: 30px;
    background-color:#ff6905;
    text-align: center;
}
          
/*===============[Nav CSS]==========*/
.nav{
    background-color:#000102b7;
    padding: 1px;
    line-height: 8%;
}
.nav li{
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav a{
    color: #fff;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #7fffd4;
}

/*============[footer]===================*/
.footer{
    background-color:#9e63eb; 
    text-align: center; 
    padding-top: 10px;
    min-height: 100%;
}
.footer p{
    color:   #f3e306;
}  